<% include partials/header %>
<h1>Set up the sheet</h1>

<!-- All form fields -->
<form method="POST">
  <input type="text" name="spreadsheet" placeholder="https://docs.google.com/spreadsheets/d/" />
  <input type="submit" />
</form>
<% include partials/footer %>
